.forum {
    width: 750px;
    margin-top: 0.5rem;
}

.forum__headline {
    font-size: 2.2rem;
    font-weight: bold;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}

.forum__delete {
    position: absolute;
    display: flex;
    width: 30px;
    height: 30px;
    top: 4rem;
    right: 150px;
    background-color: transparent;
}

.delete__stroke-1 {
    width: 2px;
    height: 30px;
    margin: 1px 0px 0px 12px;
    background-color: red;
    transform: rotate(45deg);
}

.delete__stroke-2 {
    width: 2px;
    height: 30px;
    margin: 1px 0px 0px 0px;
    background-color: red;
    transform: rotate(-45deg);
}

.forum__delete:hover+.delete__warning {
    opacity: 1;
}

.delete__warning {
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s;
    top: 6.5rem;
    right: 80px;
    font-size: 1.2rem;
    border-radius: 4px;
    font-weight: 400;
    padding: 5px 8px;
    background-color: rgba(255, 255, 255, 0.5);
}

.forum__post {
    margin-bottom: 20px;
}

.post__data {
    color: #4538cc;
}

.post__description {
    margin-top: 10px;
}

.forum__reply-field {
    margin-bottom: 10px;
}

.forum__comment-number {
    font-weight: bold;
    font-size: 1.4rem;
}

.forum__comments-block {
    margin-top: 15px;
}

.comments-block__item {
    position: relative;
    padding: 7px 15px;
    border: 1px solid #000;
    margin-bottom: 15px;
}