.search-block {
    display: flex;
    height: 50px;
    padding: 5px 0px;
    margin-bottom: 20px;
}

.search-block button {
    height: 40px;
    background-color: transparent;
    margin-right: 10px;
}

.search-block input {
    padding: 0px 10px;
    width: 500px;
    border-radius: 2px;
}

.filters-block {
    display: flex;
    font-size: 1.45rem;
}

.filters__category {
    position: relative;
}

.filters__category>button {
    position: relative;
    background-color: transparent;
    padding-right: 3px;
    margin-right: 25px;
}

.filters__category>button::after {
    content: "";
    position: absolute;
    top: 0.75rem;
    right: -12px;
    width: 8px;
    height: 8px;
    transition: transform 0.4s;
    transform: rotate(45deg);
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.filters__category_active.filters__category>button::after {
    content: "";
    top: 1.2rem;
    transform: rotate(225deg);
}

.category__dropdown {
    display: none;
    position: absolute;
    top: 35px;
    left: 0px;
    padding: 10px 5px;
    background-color: rgba(247, 101, 101, 0.5);
}

.category__dropdown_visible {
    display: block;
}

.category__dropdown ul {
    padding: 2px 5px;
}

.category__dropdown li {
    width: 150px;
}

.category__dropdown button {
    background-color: transparent;
    font-size: 1.35rem;
    width: 100%;
    padding: 3px 5px;
}

.category__dropdown button.active {
    background-color: #fff;
}

.category__dropdown button:hover {
    background-color: #fff;
}



.filters__sortby {
    display: flex;
}

.filters__sortby li {
    padding: 0 6px;
}

.filters__sortby button {
    background-color: transparent;
}

.filters__sortby button.active {
    text-decoration: underline;
}

.filters__create {
    position: relative;
    top: -6px;
    background-color: transparent;
    margin: 0 40px;
}

.filters__create::before {
    content: "+";
    position: absolute;
    left: -1.1rem;
    color: rgb(44, 196, 44);
    font-style: normal;
    font-weight: 900;
}

.forums-table__header th {
    border: 0;
}

.forums-table__header th:nth-child(1) {
    width: 450px;
}

.forums-table__header th:nth-child(2) {
    width: 250px;
    text-align: center;
}

.forums-table__header th:nth-child(3) {
    width: 150px;
    text-align: center;
}

.forums-table__row td:nth-child(2),
.forums-table__row td:nth-child(3) {
    text-align: center;
}

.topic-link {
    font-size: 1.4rem;
    margin-left: 15px;
    color: #000 !important;
    text-decoration: none;
}

.background-0>td:nth-child(2) {
    background-color: rgba(255, 75, 52, 0.25);
}

.background-1>td:nth-child(2) {
    background-color: rgba(248, 162, 49, 0.25);
}

.background-2>td:nth-child(2) {
    background-color: rgba(248, 235, 49, 0.25);
}

.forum__error-message {
    width: 100%;
    height: 2.3rem;
    font-size: 1.3rem;
    text-align: center;
    padding-bottom: 1rem;
    color: #238318;
}

.forum__error-message.error {
    color: #e74c4c;
}